  <div style='height: 100%; background-color: #05244f; opacity: .8; font-size: 1em; color: white; overflow-y: auto; overflow-x: hidden; width: 100%;'>
    <div style='border-radius: 30px; padding: 1%;'>
      <div class='row'>
        <div style='text-align: center; width: 100%;'>
            <div>
              <h3>Education</h3><br/>
              <h5>"I'll put a super cheesy quote right about here" - Edward Sisneros</h5>
            </div>
        </div>
      </div>
   </div>
   <div style='height: auto; padding: 1%;'>
     <div>
       <div class='row' id="graduate">
         <div class='col-md-3' >
             University of New Mexico<br>
             Albuquerque, NM <br>
             August 2017 - May 2019
         </div>
         <div class='col-md-9' >
         Master's of Science in Information Systems, Magna Cum Laude (Concentration: Data Analytics and Development) <br><br>
         Continuing from my undergrdaute work, I further developed my skills in software development and data anlytics, but also took an interest to information security as well. I found different applications for some best practices
         that I learned in my own work outside of school to help make my applications more robust. Since our graduate programs have heavy focuses on group projects, I conducted presentation and projects on various topics. Some of my favorite projects were
         investigating trends in heart disease amongst people in different areas of the United States, helping a local Candy Shop better track their inventory with a database, and create a web application for a local Mobile Detailing company. I served as a tutor for
         undergraduate and graduate databas classes and helped instructors enhance thier curriculums with modern technologies and teachings.
         </div>
       </div>
       <div class='row' id="bachelors">
         <div class='col-md-3' style='padding: 1%;'>
           University of New Mexico<br>
           Albuquerque, NM <br>
           August 2014 - May 2017
         </div>
         <div class='col-md-9' style='padding: 1%;'>
         Bachelor's in Business Administration, Cum Laude (Concentration: Management Information Systems)<br><br>
         Upon entering college, I really understood what was expected in order to succeed in schooling. Learning about everything from Astronomy to Weight-Lifting really showed me that these focuses have a lot more depth to them then what people initially percieve, and
         something in their studies could potentially resonate with me to help my later in my careeer. During my Junior year, I mentored in a group called UNM Lead which helps new undergraduates break out of their shell and engage more in the "college experience". I also served
         as a mentor through the business school teaching basic front-end development like HTML and CSS for those looking to get a website started for their startup companies. During undergraduate work is where I learned the fundamentals in front and back-end developemt, database structuring
         and querying, data analytics, and software best practices.
         </div>
       </div>
       <div class='row' id="highSchool">
         <div class='col-md-3' >
             Moriarty High School<br>
             Moriarty, NM <br>
             August 2009 - May 2013
         </div>
         <div class='col-md-9' >
             During my high school years, I was always interested in learning new things and teach people wheat I knew. I engaged in different extra-curricular activities like guitar,
             cross-country running, and Future Farmers of America (FFA) to help broaden by knowledge about different areas and backgrounds. Each group taught me how to tackle on problems,
             overcome adversity, work well with others, and enjoy the moment. These basic skills and experiences prepared me for college life and the level of talent that would be needed to
             make me a standout student.
         </div>
       </div>
     </div>
   </div>
  </div>
