#highSchool {
  height: auto;
  padding: 1%;
  border-top: 1px solid grey;
}

#bachelors {
  height: auto;
  padding: 1%;
  margin-bottom: 1em;
  border-top: 1px solid grey;
  width: 100%;
}

#graduate {
  height: auto;
  padding: 1%;
  margin-bottom: 2em;
  border-top: 1px solid grey;
  width: 100%;
}
