.imageDiv {
  display: inline-block;
}

.imageFill {
  object-fit: fill;
  width: 100%;
  border-radius: 2em;
}

.imageDiv:hover a img {
  opacity: .4;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

table tr:nth-child(even) {
  background-color: white;
  color: black;
};

table tr:nth-child(odd) {
  background-color: grey;
};

.imageRw {
  text-align: center;
  padding: 1em;
}

.imageDiv:hover .middle {
  opacity: 1;
}

.text {
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.storyBox {
  width: 95%;
  height: 90%;
  border-radius: 8px;
  margin-top: 2em;
  margin-left: 2em;
}

.pictureBox {
  width: 80%;
  height: 45%;
  border-radius: 8px;
  border: 1px solid green;
  margin-top: 2em;
  margin-left: 3em;
}

.reviewsBox {
  width: 80%;
  height: 65%;
  border-radius: 8px;
  border: 1px solid green;
  margin-top: 2em;
  margin-left: 3em;
}

.wrapper {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.imageWrapper {
  width: 4.5em;
  height: 4.5em;
  margin: 3%;
}

.reviewButtons {
  border: 1px solid lightblue;
  border-radius: 10em;
  margin-top: 2em;
  height: 4em;
  background-color: grey;
  padding: 1em;
}

.lastReviewButton {
  border: 1px solid lightblue;
  border-radius: 10em;
  margin-top: 2em;
  height: 4em;
  background-color: grey;
  padding: .7em;
}
.whiskeyCard {
  height: 20%;
  width: 15em;
  display: inline-block;
}

.cardContainer {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid red;
  display: inline-block;
}

.cardsWrapper {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: inherit;
  overflow: auto;
}

.toggleButton {
  width: 100%;
  margin-right: 10em;
  background-color: cornflowerblue;
  border-radius: 8px;
  height: auto;
}

.imageWrapper {
  width: 80px;
  height: 80px;
}
