.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.skillsListItem {
  display: inline-block;
  justify-content: center;
  font-size: 1em;
  margin: .1em ;
}
.bottomScrollBoxes {
  height: 100%;
  border-radius: 30px;
  padding: 2%;
}

.leftBorder{
  border-left: 1px solid black;
}
.skillsListRow {
  height: 33.3%;
}

table.mat-table th {
  text-align: center !important;
}

.mat-elevation-z8 table.mat-table th {
  background-color: cornflowerblue;
  color: black;
  font-size: 1em;
}

.mat-elevation-z8 table.mat-table td {
  color: black;
  font-size: .9em;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

