<div style='height: 100%;'>
  <div class="row" style="height: inherit; overflow-y: auto;">
    <div class="col-md-4" style="height: auto; text-align: center; margin-bottom: 5em;">
      <div style="height: 15em; display: inline-block; margin: 2em 0em;">
        <img src="assets/images/n.jpg" style="height: 100%; border-radius: 3em;"/>
      </div>
      <div style='border-radius: 20px; color: white; background-color: #05244f; opacity: .8; font-size: 1em;'>
        <div class='row'>
          <div class='col skillsListItem'>ASP.NET</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
        </div>
        <div class='row'>
          <div class='col skillsListItem leftBorder'>Angular</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
        </div>
        <div class='row'>
          <div class='col skillsListItem'>Git</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
          <div class='col skillsListItem leftBorder'>SQL Server</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
        </div>
        <div class='row'>
          <div class='col skillsListItem'>Javascript</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
          <div class='col skillsListItem leftBorder'>CI/CD</div>
          <div class='col'><app-star [rating] = 2></app-star></div>
        </div>
        <div class='row'>
          <div class='col skillsListItem'>Visual Studio</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
          <div class='col skillsListItem leftBorder'>RedGate</div>
          <div class='col'><app-star [rating] = 2></app-star></div>
        </div>
        <div class='row'>
          <div class='col skillsListItem'>VS Code</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
          <div class='col skillsListItem leftBorder'>Notepad++</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
        </div>
        <div class='row'>
          <div class='col skillsListItem'>Scrum</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
          <div class='col skillsListItem leftBorder'>Kanban</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
        </div>
        <div class='row'>
          <div class='col skillsListItem'>Data Structures</div>
          <div class='col'><app-star [rating] = 2></app-star></div>
          <div class='col skillsListItem leftBorder'>GitKraken</div>
          <div class='col'><app-star [rating] = 3></app-star></div>
        </div>
    </div>
  </div>
   <div class='col-md-8' style='margin-top: 20px; font-size: 2vh; color: white;'>
         <div class='row' style='height: auto; width: 100%;'>
          <div class='col' style='text-align: center; margin-top: .5%;'>
            Edward Sisneros<br>
            Software Engineer<br>
            edward.sisneros@gmail.com<br>
            www.edwardsisneros.com | github:esisneros94
          </div>
        </div>
        <div class='row' style='height: auto; width: 100%; flex-wrap: wrap; margin: 1em 0em;; border-top: 1px solid grey; padding: 1%;'>
          <div class='col-3' >
              Sandia Laboratories<br>
              Albuquerque, NM <br>
              May 2019 - Current
          </div>
          <div class='col-9' >
          Software Systems Engineer <br><br>
          Continuing from my student intern position, I still do development on our systems and help maintain our databases, as needed. We currently utilize tools like GitLab, Team Foundation Server (TFS), GitExtensions, and GitKraken for our source control needs.
          With my background coming from a business degree (and from people telling me I am a good people person), I also lead the Lab-Wide trainings for my ASP.NET MVC awards application. This gives me the ability to create a better bridge between IT and our
          end users by showing up, answering questions, and providing guidance. I am also now learning about Azure AD and Containerization with Kubernetes to help propel our group into the future for Training at the Lab.<br>
          </div>
        </div>
        <div class='row' style='height: auto; width: 100%; flex-wrap: wrap; margin: 1em 0em;; border-top: 1px solid grey; padding: 1%;'>
          <div class='col-3'>
            Sandia Laboratories<br>
            Albuquerque, NM <br>
            September 2016 - May 2019
          </div>
          <div class='col-9'>
          Student Intern - Undergrad and Graduate Student<br><br>
          This was my first ever "tech" job serving as a student intern in the same group I am currently in. While still supporting the overall goal of making training an asset to Sandia, I really
          got to develop my interests in relational databases and development (since that was what I was researching in school). I refactored and optimized stored procedures and legacy code to help
          cleanup my team's codebases along with supporting of trouble tickets. Eventually, I got to own an ASP.NET MVC app that is meant to nominate people for awards for their achievements. That application
          is now very well-known in our internal organization since my team took it over in 2017.<br><br>
          </div>
        </div>
      </div>
      </div>
    </div>

