<div style="height: auto;">
  <div class="row" style="text-align: center; padding: 2em;">
    <div style="display: inline-block; margin: auto; width: 50%; margin-top: 1em;">
      <b>Edward Sisneros</b><br/> <i>biographical name</i> |
      Ed-ward | \'ed-werd\'<br />
      <strong>Definition:</strong>
      One who craves concrete answers that can be used to help
      make the world a better place. <br/><br/>Software Engineer. Hamburger Connoisseur. Sports Enthusiast. Sneaker Maven.
    </div>
  </div>
  <div style="flex-wrap: wrap; text-align: center; width: 100%; overflow: auto;">
    <div style="width: 100%; margin-top: 10vh; margin-bottom: 2vh; display: inline-block;">
      <div class="imageDiv col-md-4" style='display: inline-block;'>
        <a [routerLink]="['/education']" class="nav-link" href="#">
          <img src="assets/images/UNM.jpeg" class="imageFill">
          <div class="middle">
            <div class="text">Education</div>
          </div>
        </a>
      </div>
      <div class="imageDiv col-md-4" style='display: inline-block;'>
        <a [routerLink]="['/career']" class="nav-link" href="#" style="height:100%;">
          <img src="assets/images/Working.jpeg" class="imageFill">
          <div class="middle">
            <div class="text">Career</div>
          </div>
        </a>
      </div>
      <div class="imageDiv col-md-4" style='display: inline-block;'>
        <a [routerLink]="['/whiskey']" class="nav-link" href="#" style="height:100%;">
          <img src="assets/images/WhiskeyCups.jpeg" class="imageFill">
          <div class="middle">
            <div class="text">Whiskey Reviews</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
